trigger: 
  - main
  - features/*

pool: ironman

stages:

  - stage: Terraform_Stage
    displayName: Terraform Init → FMT → Validate → Plan + Manual Approval
    jobs:

      - job: Terraform_Job
        displayName: Full Terraform Process
        steps:

          
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

         
          - task: TerraformTask@5
            displayName: Terraform Init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              backendServiceArm: 'Azure-to-ado-svc2'
              backendAzureRmStorageAccountName: 'yuvistg'
              backendAzureRmContainerName: 'yuvicntr'
              backendAzureRmKey: 'assignment.tfstate'

          
          - task: PowerShell@2
            displayName: Terraform FMT
            inputs:
              targetType: 'inline'
              script: |
                terraform fmt -recursive
          
          
          - task: TerraformTask@5
            displayName: Terraform Validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'

         
          - task: PowerShell@2
            inputs:
              targetType: 'inline'
              script: 'checkov -d .'
              
            
              
          
          - task: TerraformTask@5
            displayName: Terraform Plan
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              environmentServiceNameAzureRM: 'Azure-to-ado-svc2'

              

    
