trigger: 
  - main
  - features/*

pool: ironman

stages:
  - stage: Build
    displayName: Installing Terraform
    jobs:
      - job: TF_installation
        displayName: Installing Terraform
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
  - stage: Build2
    displayName: Running Terraform Init
    jobs:
      - job: Terraform_init
        displayName: Terraform init
        steps:

          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
              backendServiceArm: 'Azure-to-ado-svc2'
              backendAzureRmStorageAccountName: 'yuvistg'
              backendAzureRmContainerName: 'yuvicntr'
              backendAzureRmKey: 'assignment.tfstate'

  - stage: Build3
    displayName: Running Terraform FMT
    jobs:
      - job: Terraform_fmt
        displayName: terraform fmt
        steps:

        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'terraform fmt'
  - stage: Build4
    displayName: Running Terraform Plan
    jobs:
      - job: Terraform_Plan
        displayName: Terraform plan
        steps:
                
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/environment/dev'
            environmentServiceNameAzureRM: 'Azure-to-ado-svc2'
