trigger: 
  - main
  - features/*

pool: ironman

stages:
  - stage: Build
    displayName: running build
    jobs:
      - job: TFinstallation
        displayName: Terraform Installation
        steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'

  
